body{
    background-image: url("./images/level1img.jpg");
    background-size: 1368px 640px;
    background-attachment: fixed;
    transition: 0.7s ease;
}
#container{
    position: absolute;
    width: 450px;
    height: 500px;
    background-color: white;
    border: 1px solid transparent;
    margin-top: 65px;
    margin-left: 440px;
    border-radius: 3px;
}
#questions-index{
    position: absolute;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-left: -20px;
    margin-top: 0px;
}
#main-index{
    position: absolute;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-left: 215px;
    margin-top: 8px;
}

.main-head-text{
    position: absolute;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 90px;
    margin-top: 45px;
}
.text-question{
    position: absolute;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 100px;
}
.span-name{
    position: absolute;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 360px;
    margin-top: 430px;
}
.span{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1.5px solid black;
    margin-left: 160px;
    margin-top: 430px;
    border-radius: 50px;
}
#span-items :nth-child(1){
    margin-left: 300px;
    margin-top: 430px;
}
#span-items :nth-child(2){
    margin-left: 250px;
    margin-top: 430px;
}
#span-items :nth-child(3){
    margin-left: 200px;
    margin-top: 430px;
}
#span-items :nth-child(4){
    margin-left: 150px;
    margin-top: 430px;

}
#span-items :nth-child(5){
    margin-left: 100px;
    margin-top: 430px;

}
.refuse-decoration-link{
    text-decoration: none;
    color: white;
}
#try-again{
    display: none;
    position: absolute;
    width: 90px;
    height: 35px;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 65px;
}
#try-again:hover{
    background-color: greenyellow;
    border-bottom-color: #008000;
}
.answer1-button{
    position: absolute;
    width: 400px;
    height: 35px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 165px;
    margin-left: 24px;
    cursor: pointer;
}
.answer1-button:hover{
    position: absolute;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
}
.answer2-button{
    position: absolute;
    width: 400px;
    height: 35px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 220px;
    margin-left: 24px;
    cursor: pointer;
}
.answer2-button:hover{
    position: absolute;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
}
.answer3-button{
    position: absolute;
    width: 400px;
    height: 35px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 275px;
    margin-left: 24px;
    cursor: pointer;
}
.answer3-button:hover{
    position: absolute;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
}
.answer4-button{
    position: absolute;
    width: 400px;
    height: 35px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 335px;
    margin-left: 24px;
    cursor: pointer;
}
.answer4-button:hover{
    position: absolute;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
}
.right-answer{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: greenyellow;
    border-bottom-width: 5px;
    border-bottom-color: green;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 165px;
    margin-left: 24px;
    cursor: pointer;
}
.right-answer2{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: greenyellow;
    border-bottom-width: 5px;
    border-bottom-color: green;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 220px;
    margin-left: 24px;
    cursor: pointer;
}
.right-answer3{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: greenyellow;
    border-bottom-width: 5px;
    border-bottom-color: green;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 275px;
    margin-left: 24px;
    cursor: pointer;
}
.right-answer4{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: greenyellow;
    border-bottom-width: 5px;
    border-bottom-color: #008000;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 335px;
    margin-left: 24px;
    cursor: pointer;
}
.green-span{
    background-color: rgb(0, 255, 0);
}
.wrong-answer1{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(255, 47, 47);
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 30, 0);
    border-radius: 7px;
    font-size: 16px;
    margin-top: 165px;
    margin-left: 24px;
    cursor: pointer;
}
.wrong-answer2{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(255, 47, 47);
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 30, 0);
    border-radius: 7px;
    font-size: 16px;
    margin-top: 220px;
    margin-left: 24px;
    cursor: pointer;
}
.wrong-answer3{
    position: absolute;
    width: 400px;
    height: 35px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(255, 47, 47);
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 30, 0);
    border-radius: 7px;
    font-size: 16px;
    margin-top: 275px;
    margin-left: 24px;
    cursor: pointer;
}
.wrong-answer4{
        position: absolute;
        width: 400px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(255, 47, 47);
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 30, 0);
        border-radius: 7px;
        font-size: 16px;
        margin-top: 335px;
        margin-left: 24px;
        cursor: pointer;
    }
.red-span{
    background-color: rgb(255, 0, 0);
}
.disabled{
    position: absolute;
    width: 400px;
    height: 35px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}
#alert-div{
    display: none;
    position: absolute;
    width: 330px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 500px;
    transition: 0.7s ease;
}
.main-alert-text{
    position: absolute;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 92px;
    margin-top: 35px;
}
#agree-button{
    position: absolute;
    width: 90px;
    height: 35px;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 65px;
}
#agree-button:hover{
    background-color: greenyellow;
    border-bottom-color: #008000;
}
#refuse-button{
    position: absolute;
    width: 90px;
    height: 35px;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 170px;
}
#refuse-button:hover{
    background-color: rgb(255, 47, 47);
        border-bottom-color: rgb(255, 30, 0);
}
#blur{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    margin-left: -10px;
    margin-top: -9px;
}
.time-label{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 27px;
    font-size: 22px;
    margin-top: 10px;
}
.dot{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 105px;
    margin-top: 10px;
}
#minutes-counter{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 10px;
}
#seconds-counter{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 135px;
}
.score-label{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 350px;
}
#points{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 13px;
    margin-left: 410px;
}
.zero-minute{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 10px;
}
#score-data-div{
    display: none;
    position: absolute;
    width: 380px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 470px;
    transition: 0.7s ease;
}
.header-text-div{
    position: absolute;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 26px;
}
#score-text{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 185px;
    margin-top: 65px;
}
#score-data{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: -190px;
    margin-top: 1px;
    color: black;
}
.total-points{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 133px;
    margin-top: 66px;
    color: black;
}
#go-to-homepage{
    position: absolute;
    width: 140px;
    height: 35px;
    border-bottom-width: 5px;
    border-bottom-color: rgb(255, 166, 0);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: rgb(250, 192, 0);
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 98px;
    margin-left: 120px;
}
@media (max-width: 750px){
    body{
        background-image: url("./images/mediaQuery-test1.jpg");
        background-size: 490px 680px;
    }
    #container{
        position: absolute;
        width: 330px;
        height: 450px;
        background-color: white;
        border: 1px solid transparent;
        margin-top: 65px;
        margin-left: 75px;
        border-radius: 3px;
    }
    #questions-index{
        position: absolute;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        margin-left: -20px;
        margin-top: 0px;
    }
    .main-head-text{
        position: absolute;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        margin-left: 60px;
        margin-top: 50px;
    }
    .text-question{
        position: absolute;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        margin-left: 70px;
        margin-top: 95px;
    }
    .span-name{
        position: absolute;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 270px;
        margin-top: 400px;
    }
    .span{
        position: absolute;
        width: 19px;
        height: 19px;
        background-color: white;
        border: 1.5px solid black;
        margin-left: 160px;
        margin-top: 430px;
        border-radius: 50px;
    }
    #span-items :nth-child(1){
        margin-left: 220px;
        margin-top: 400px;
    }
    #span-items :nth-child(2){
        margin-left: 180px;
        margin-top: 400px;
    }
    #span-items :nth-child(3){
        margin-left: 140px;
        margin-top: 400px;
    }
    #span-items :nth-child(4){
        margin-left: 100px;
        margin-top: 400px;
    
    }
    #span-items :nth-child(5){
        margin-left: 60px;
        margin-top: 400px;
    
    }
    .refuse-decoration-link{
        text-decoration: none;
        color: white;
    }
    #try-again{
        display: none;
        position: absolute;
        width: 83px;
        height: 33px;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 82px;
        margin-left: 55px;
    }
    #try-again:hover{
        background-color: greenyellow;
        border-bottom-color: #008000;
    }
    .answer1-button{
        position: absolute;
        width: 315px;
        height: 35px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 155px;
        margin-left: 7px;
        cursor: pointer;
    }
    .answer1-button:hover{
        position: absolute;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
    }
    .answer2-button{
        position: absolute;
        width: 315px;
        height: 35px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 220px;
        margin-left: 7px;
        cursor: pointer;
    }
    .answer2-button:hover{
        position: absolute;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
    }
    .answer3-button{
        position: absolute;
        width: 315px;
        height: 35px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 275px;
        margin-left: 7px;
        cursor: pointer;
    }
    .answer3-button:hover{
        position: absolute;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
    }
    .answer4-button{
        position: absolute;
        width: 315px;
        height: 35px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 335px;
        margin-left: 7px;
        cursor: pointer;
    }
    .answer4-button:hover{
        position: absolute;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
    }
    .right-answer{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: greenyellow;
        border-bottom-width: 5px;
        border-bottom-color: green;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 155px;
        margin-left: 7px;
        cursor: pointer;
    }
    .right-answer2{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: greenyellow;
        border-bottom-width: 5px;
        border-bottom-color: green;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 220px;
        margin-left: 7px;
        cursor: pointer;
    }
    .right-answer3{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: greenyellow;
        border-bottom-width: 5px;
        border-bottom-color: green;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 275px;
        margin-left: 7px;
        cursor: pointer;
    }
    .right-answer4{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: greenyellow;
        border-bottom-width: 5px;
        border-bottom-color: #008000;
        border-radius: 7px;
        font-size: 13px;
        margin-top: 335px;
        margin-left: 7px;
        cursor: pointer;
    }
    .green-span{
        background-color: rgb(0, 255, 0);
    }
    .wrong-answer1{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(255, 47, 47);
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 30, 0);
        border-radius: 7px;
        font-size: 13px;
        margin-top: 155px;
        margin-left: 7px;
        cursor: pointer;
    }
    .wrong-answer2{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(255, 47, 47);
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 30, 0);
        border-radius: 7px;
        font-size: 13px;
        margin-top: 220px;
        margin-left: 7px;
        cursor: pointer;
    }
    .wrong-answer3{
        position: absolute;
        width: 315px;
        height: 35px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(255, 47, 47);
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 30, 0);
        border-radius: 7px;
        font-size: 13px;
        margin-top: 275px;
        margin-left: 7px;
        cursor: pointer;
    }
    .wrong-answer4{
            position: absolute;
            width: 315px;
            height: 35px;
            border-top: transparent;
            border-right: transparent;
            border-left: transparent;
            background-color: rgb(255, 47, 47);
            border-bottom-width: 5px;
            border-bottom-color: rgb(255, 30, 0);
            border-radius: 7px;
            font-size: 13px;
            margin-top: 335px;
            margin-left: 7px;
            cursor: pointer;
        }
    .red-span{
        background-color: rgb(255, 0, 0);
    }
    .disabled{
        position: absolute;
        width: 400px;
        height: 35px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 13px;
        cursor: pointer;
    }
    #alert-div{
        display: none;
        position: absolute;
        width: 290px;
        height: 140px;
        background-color: rgb(255, 255, 255);
        border: 1.5px solid black;
        border-radius: 5px;
        margin-left: 90px;
        transition: 0.7s ease;
    }
    .main-alert-text{
        position: absolute;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        margin-left: 83px;
        margin-top: 30px;
    }
    #agree-button{
        position: absolute;
        width: 83px;
        height: 33px;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 82px;
        margin-left: 55px;
    }
    #agree-button:hover{
        background-color: greenyellow;
        border-bottom-color: #008000;
    }
    #refuse-button{
        position: absolute;
        width: 83px;
        height: 33px;
        border-bottom-width: 5px;
        border-bottom-color: rgb(255, 166, 0);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        background-color: rgb(250, 192, 0);
        color: white;
        transition: 0.7s ease;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 82px;
        margin-left: 155px;
    }
    #refuse-button:hover{
        background-color: rgb(255, 47, 47);
            border-bottom-color: rgb(255, 30, 0);
    }
    #blur{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        margin-left: -10px;
        margin-top: -9px;
    }
    .time-label{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        margin-left: 23px;
        font-size: 19px;
        margin-top: 10px;
    }
    .dot{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-left: 98px;
        margin-top: 8px;
    }
    #minutes-counter{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: 19px;
        margin-left: 80px;
        margin-top: 10px;
    }
    #seconds-counter{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: 19px;
        margin-top: 10px;
        margin-left: 120px;
    }
    .score-label{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-top: 12px;
        margin-left: 250px;
    }
    #points{
        font-size: 25px;
        margin-top: 15px;
        margin-left: 305px;
    }
    .zero-minute{
        position: absolute;
        font-size: 19px;
        margin-left: 110px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1378px){
    body{
        background-size: 1378px 700px;
    }
    }